.agent-card {
  border: 3px green solid;
  margin-bottom: 15px;
  padding: 25px;
}
button {
  margin-top: 15px;
  margin-bottom: 15px;
}
.hidden {
  display: none;
}

.frame {
  padding: 200px;
}

.dark-mode {
  background-color: #333;
}

.light-mode {
  background-color: #DDD;
}
